<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      ApexVerse
    </title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6906335457793789",
        enable_page_level_ads: true
      });
    </script>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Cinzel|Dancing+Script|Open+Sans|Questrial|Russo+One|Lato|Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Nav Bar-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <div class="row">
              ApexVerse
            </div>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if current_page?(articles_path) %>"><%= link_to "News", articles_path %></li>
            <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to "Media", posts_path %></li>
            <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to "Store", store_path %></li>
            <li class="<%= 'active' if current_page?(new_contact_path) %>"><%= link_to "Contact Us", new_contact_path %></li>
            <% if user_signed_in? %><li class="<%= 'active' if current_page?(new_article_path) %>"><%= link_to 'New Article', new_article_path %></li><% end %>
            <% if user_signed_in? %><li class="<%= 'active' if current_page?(new_post_path) %>"><%= link_to 'New Post', new_post_path %></li><% end %>
            <% if user_signed_in? %><li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li><% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>


    <!--Dynamic Flash Message-->
    <div class="container"><%= render 'layouts/messages' %></div>

    <!--Main Content-->
    <%= yield %>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
      <a href="#" class="w3-btn w3-black w3-hover-white"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <a href="https://www.facebook.com/ApexVerse" class="fa fa-facebook-official w3-hover-text-indigo" style="text-decoration:none"></a>
        <a href="https://twitter.com/ApexVerse" class="fa fa-twitter w3-hover-text-light-blue" style="text-decoration:none"></a>
        <a href="https://www.instagram.com/ApexVerse/" class="fa fa-instagram w3-hover-text-purple" style="text-decoration:none"></a>
      </div>
      <p>Copyright <%= link_to "\u00A9", new_user_session_path, class: "w3-hover-text-green"%> ApexVerse 2017</p>
    </footer>

  </body>
</html>
